<nav class="navbar navbar-dark bg-dark mr-auto">
    <a href="/" class="navbar-brand">DevBlog</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>

        </li>
    </ul>
</nav>